V1/Altium/__Previews
V1/Altium/History
V1/Altium/Project Logs for USB_keyholder
V1/Altium/Project Outputs for USB_keyholder
V1/inv_models/OldVersions
Keyholder/MDK-ARM/Keyholder
Keyholder/MDK-ARM/Keyholder.uvguix*
V2/PCB/keyholder-backups
V2/PCB/fp-info-cache
V2/PCB/keyholder.kicad_prl
V2/3d_models/OldVersions